  .main_thongtin{
            background-color: #ffffff;
            margin-top: 50px;
            margin-left: 25%;
            width: 45%;
            position: relative;
            top: 300px;
        }

        .main_thongtin h1{
            color: #f1f1f1;
            text-shadow: 0 0 10px rgba(237, 237, 237, 0.8),
            0 0 20px rgba(255, 255, 255, 0.897),
            0 0 30px rgba(255, 255, 255, 0.8),
            0 0 40px rgba(255, 255, 255, 0.8);
            margin-left: 100px;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 20px;
            width: 500px;
            height: 60px;
            padding: 13px;
            text-align: center;
            background-image: linear-gradient(to bottom,rgb(255, 188, 139), rgb(184, 11, 11),rgb(225, 4, 8),rgb(166, 228, 255));
        }
        table {
            box-shadow: 7px 7px 1px rgba(9, 7, 7, 0.1);
            margin: 30px;
            border: 3px outset;
            width: 100%;
            border-collapse: collapse;
            color: rgb(0, 0, 0);
        }

        th {
            background-color: #f57878;
            padding: 10px;
        }

        th,
        td {
            border: 1px #fffefe solid;
            text-align: center;
        }

        td div {
            width: calc(100% - 20px);
            padding: 0px 10px;
            text-align: right;
        }

        th div {
            width: calc(100% - 10px);
            padding: 0px 5px;
            text-align: right;
            font-size: 1.5rem;
        }

        td img {
            width: 100px;
        }
        .btn_dathang{
            margin-top: 10px;
            margin-left: 35%;
        }
        .dongy {
            width: 250px;
            border: 1px #F90 solid;
            background-image: linear-gradient(rgb(253, 244, 229), rgb(255, 38, 38));
            background-size: 150% 100%;
            padding: 10px;
            border-radius: 5px;
            color: #FFF;
            font-weight: bold;
            border-style: outset;
        }
        .dongy:hover {
            background-image: linear-gradient(#F30, #000);
        }